<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Selectable V5 Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Selectable V5 Demo</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-item>
      <ion-label>Ports</ion-label>
      <ionic-selectable
        id="sel1"
        [items]="items"
        itemValueField="id"
        itemTextField="port"
      ></ionic-selectable>
    </ion-item>
</ion-content>
